*{
    margin: 0;
    padding: 0;
} 
#banner{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(b.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    opacity: 0.9;
}
#banner::before{
    content: " ";
    background: rgba(0, 0, 0, 0.7);
}
.section h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    
    font-weight: bold;
}

.section h1 span{
    color:#3ec1d5;
    
} 
.section h1 a,
.section h1 a:hover{
     color: #fff;
    
     text-decoration: none;
}
.side{
    position: absolute;
    top: 4%;
    left: 10%;
}

.banner-txt{
    text-align: center;
    color: black;

    padding-top: 226px;
}
.banner-txt h1{
    color: #fff;
    margin-bottom: 20px;
    font-size: 42px;
    font-weight: 700;

}
.banner-txt p{
   width: 80%;
   font-size: 38px;
   line-height: 1.2;
   margin: 0 auto 30px auto;
   color: #fff;
    font-style: italic;
}
.banner-txt a{
   text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
   transition: background 0.5s;
    color: #fff;
    background: #3ec1d5;
   
}
.banner-txt a:hover {
    background: #fff;
   color: #3ec1d5;
}

#sidenav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #3ec1d5;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a {
   text-decoration: none;
   color: white;
}
#menubtn{
    width: 50px;
    height: 50px;
    /* background: #3ec1d5; */
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menubtn img{
    width: 20px;
    margin-top: 15px;
}









/* features */
#feature{
    width: 100%;
    background: rgba(245, 245, 245, 0.959);
    padding: 70px 0;
    padding-bottom: 115px;
}
.title-text{
    /* text-align: center; */
   
    padding-bottom: 70px;
}
.title-text .p p{
    margin: auto;
    font-size: 20px;
    color: #3ec1d5;
    font-weight: bold;
    z-index: 1;
    display: inline-block;
}
.title-text .p  p::before{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#3ec1d5,#fff);
    position: absolute;
    top: 751px;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 30px;
    left: 725px;
    z-index: -1;
}
.title-text h1{
    font-size: 50px;
}
.line h1::after
{
    border: 1px solid #333;
    bottom: -20px;
    content: "";
    left: 0;
    margin: -123px auto;
   position: absolute;
    right: 0;
    width: 112px;
    
}
.about{
     padding: 53px;
}
.about img{
  width: 615px;
  height: 325px;
  margin-right: 25px;
  margin-left: 75px;

}
.about p{
    padding: 0px;
}
.about ul{
    list-style-type: none;
    
    /* list-style:outside none none; */
}
/* .container li{
        color: #444;
        display: block;
        padding: 5px 0;
} */
.pad-bottom{
    padding-top: 15px;
    padding-bottom: 15px;
}
.about li{
    padding: 10px;
}
.about a{
    color: rgb(66, 65, 65);
    text-decoration: none;
    font-size: 24px;
}
/* .container{
    display: block;
   padding : 5px;
   margin: 10px;
    color: green;
} */
.text-center{
    text-align: center;
     color: rgb(66, 65, 65);
}

/* service */

.ser-con h1{
    
        font-size: 50px;
    
}
.ser-line h1::after{
     border: 1px solid #333;
     bottom: -20px;
     content: "";
     left: 0;
     margin: -825px auto;
     position: absolute;
     right: 0;
     width: 112px;
}

.ser-deltails::selection {
    background: #3EC1D5;
    text-shadow: none;
}

.ser-grid{
    display: grid;
    grid-template-columns: auto auto auto;
   
    padding: 10px;
}
.item{
    color: rgb(66, 65, 65);
   
    padding: 20px;
    font-size: 16px;
    text-align: center;
}
.services-icon {
    color: #444;
    display: inline-block;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 20px;
}
.ser-deltails {
    padding-top: 40px;
    transition: all 0.5s ease 0s;
}
.ser-deltails:hover h4,
.ser-deltails:hover .services-icon {
    color: #3EC1D5;
}
.item h4{
    font-size: 24px;
    margin-bottom: 10px;
}
.ser-head{
    margin-top: 10px;
}
#service{
      width: 100%;
      margin: 30px;
     
      padding-bottom: 115px;
}

/* service end  */
 /* team start  */

 .team-grid {
     display: grid;
     grid-template-columns: auto auto auto auto;

     padding: 10px;
 }

 /* .team-item {
    padding: 0;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
     text-align: center;
 }
 .team-head {
     margin-top: 10px;
 }*/
 .team-con h1 {

     font-size: 50px;

 } 

 .team-line h1::after {
     border: 1px solid #333;
     bottom: -20px;
     content: "";
     left: 0;
     margin: -1502px auto;
     position: absolute;
     right: 0;
     width: 112px;
 }
 /* .team-img-size {
     width: 304px;
     height: 375px;
     padding: 5px;
 } */
 .team-member {
     background: rgba(0, 0, 0, 0.65) none repeat scroll 0 0;
     display: block;
     margin-right: -15px;
     padding: 10px;
     position: relative;
     overflow: hidden;
 }

 .team-member::before {
     background: rgba(0, 0, 0, 0) url("team01.jpg") repeat scroll 0 0;
     content: "";
     display: block;
     height: 100%;
     left: 0;
     margin-right: -15px;
     padding: 10px;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: -1;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: top center;
     transition: 5s;
     transform: scale(1);
 }
 .team-member:hover.team-member::before {
     transform: scale(1.2);
 }

 .single-team-member {
     border: 1px solid #ddd;
 }

 .team-left-text h4 {
     color: #fff;
     font-size: 30px;
     font-weight: 700;
     text-transform: uppercase;
 }

 .team-left-text p {
     color: #fff;
     font-size: 17px;
     line-height: 26px;
 }
 .team-left-icon ul li {
     display: inline-block;
 }

 .team-left-icon ul li a:hover {
     color: #3EC1D5;
     background: #fff;
     border: 2px solid #fff;
 }

 .team-left-icon ul li a {
     border: 2px solid #fff;
     color: #fff;
     display: block;
     font-size: 16px;
     height: 40px;
     line-height: 37px;
     margin: 0 3px;
     width: 40px;
 }
 .team-member-carousel .single-team-member {
     overflow: hidden;
     width: 100%;
 }

 .single-team-member:hover .team-img a:after {
     opacity: 1;
 }

 .single-team-member:hover .team-social-icon {
     top: 45%;
     opacity: 1;
 }

 .team-img {
     padding: 8px;
     margin: 9px;
     position: relative;
 }

 .team-img>a {
     display: block;
 }
.team-img>a::after {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 100%;
    opacity: 0;
}

.team-social-icon {
    left: 50%;
    margin-left: -61px;
    opacity: 0;
    position: absolute;
    top: 30%;
    transition: 1.3s;
}

.team-social-icon ul li {
    display: inline-block;
}
.team-social-icon ul li a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 34px;
    width: 34px;
    margin: 0 3px;
}

.team-social-icon ul li a i {
    line-height: 0;
}

.team-social-icon ul li a:hover {
    color: #fff;
    border: 1px solid #3EC1D5;
    background: #3EC1D5;
}
.sec-team{
    margin-bottom: 52px;
}
.team-content {
    padding: 10px 0px;
}

.team-content>h4,
.team-content>p {
    color: #444;
    margin-bottom: 5px;
}
.width{
   
    margin: 14px;
}

.img-width{
    width: 304px;
    border: 1px solid black;
}
.team-center{
    margin-top: 50px;
}
.rev-grid{
     display: grid;
     grid-template-columns: auto auto auto auto;

     
}
.reviews-area {
    background: url(reviews-bg.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 100px;
    margin-bottom: 60px;
}

.work-left-text {
    background: #3EC1D5 none repeat scroll 0 0;
}

.work-right-text {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
}

.work-right-text h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
}

.work-right-text h5 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
}
h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important;
}
.work-right-text .sus-btn {
    margin-left: 0;
    margin-top: 20px;
}
.rev-grid a{
    text-decoration: none;

}


.rev-btn {
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    margin-top: 30px;
    padding: 12px 40px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    z-index: 222;
}
.rev-btn:hover{
    color: white;
    background: #3EC1D5;
    transition: 0.5s;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    
}
.d-flex {
    display: flex !important;
}
.rev-txt{
    padding: 80px;
}